<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/javascript/prototype.js"></script>
</head>
<body>
Command:
<br/>
<form>
<input type="text">
<input type="button" name="Run" id="run" value="Run">
<br/>
Response:
<br/>
<%=$counter%>
</form>

</body>
</html>